.submitbtndiv{
    text-align: right;
}

button.btn.btn-primary{
    background-color: #4aaaa5;
    font-family: 'Georgia', Times, Times New Roman, serif;
    font-size: medium;
    transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
    border-color: #4aaaa5;
    box-shadow: 1px #4aaaa5;
}

.btn-primary:active{
    box-shadow: 0 0 0 0.2rem rgba(75, 211, 211, 0.699);
}

.btn-primary:not(:disabled):not(.disabled).active, .btn-primary:not(:disabled):not(.disabled):active, .show>.btn-primary.dropdown-toggle {
    color: #fff;
    background-color: #459c98;
    border-color: #3c8a86;
}

.btn-primary.focus, .btn-primary:focus {
    box-shadow: 0 0 0 0.2rem rgba(75, 211, 211, 0.699);
}

.btn-primary:not(:disabled):not(.disabled).active:focus, .btn-primary:not(:disabled):not(.disabled):active:focus, .show>.btn-primary.dropdown-toggle:focus {
    box-shadow: 0 0 0 0.2rem rgba(75, 211, 211, 0.699);
}