.container {
    display: grid;
    grid-template-columns: auto auto;
    grid-gap: 2em;
    padding: 25px;
    justify-content: space-evenly;

  }

.containerimg{
    position: relative;
}  

.containerh2{
    position: absolute;
    background-color: #4aaaa5;
    width: 150px;
    color: #e9ecef;
    text-align: center;
    font-size: 1.5em;
    bottom: 0.6em;
}


@media (max-width: 640px) { 
    .container{
        grid-template-columns: auto;
    }
 }
