/*nav bar styling*/

.navbar{
    padding: 0;
    height: 4em;
}

.navbar-light .navbar-brand {
    color: white;
    background-color: #4aaaa5;
    font-family: 'Georgia', Times, Times New Roman, serif;
    margin-left: 3%;
    padding: .75em 0.25em 0.5em 0.25em;
    height: 3.25em;
}


.navbar-nav{
    margin-left: 88%;
}